# 1.	Import the attached Netflix csv file in Jupyter notebook and perform following operations using Pandas:

In [80]:
# a)Print the first 5 rows and last 5 rows of the dataframe
import pandas as pd
file_path =  r'E:\IIT_GUWAHATI\Pandas_Assignment\NetFlix_1.xlsm'
df = pd.read_excel(file_path, engine='openpyxl')
print(df.shape)
dr5 = df.head()
dt5 = df.tail()
print(" Top 5 rows")
print(dr5)
print(" Last 5 rows")
print(dt5)

(8780, 11)
 Top 5 rows
  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...
 Last 5 rows
     show_id     type        title         director  \
8775   s8803    Movie       Zodiac    David Fincher
8776   s8804  TV Show  Zombie Dumb              NaN
8777   s8805    Movie   Zombieland  Ruben Fleischer
8778   s8806    Movie         Zoom     Peter Hewitt
8779   s8807    Movie       Zubaan      Mozez Singh

                                                   cast        country  \
8775  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8776                                                NaN            NaN
8777  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8778  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8779  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

             date_added  release_year rating   duration  \
8775  November 20, 2019          2007      R    158 min
8776       July 1, 2019          2018  TV-Y7  2 Seasons
8777   November 1, 2019          2009      R     88 min
8778   January 11, 2020          2006     PG     88 min
8779      March 2, 2019          2015  TV-14    111 min

                                           listed_in
8775                  Cult Movies, Dramas, Thrillers
8776          Kids' TV, Korean TV Shows, TV Comedies
8777                         Comedies, Horror Movies
8778              Children & Family Movies, Comedies
8779  Dramas, International Movies, Music & Musicals

In [81]:
# b)	Check how many rows and columns are there using Pandas function.
rows, cols = df.shape
print(f"Number of row {rows} and number of columns : {cols}")

Number of row 8780 and number of columns : 11

In [87]:
# c) Print all the column names.
print("Column names:")
for column in df.columns:
    print(column, end=", ")

Column names:
show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in,

In [88]:
# d)	Calculate the descriptive statistics of all the variables(integer/float/object etc).
df_stat = df.describe(include='all')
print(df_stat)

       show_id   type                 title       director  \
count     8780   8780                  8780           6150
unique    8780      2                  8780           4516
top         s1  Movie  Dick Johnson Is Dead  Rajiv Chilaka
freq         1   6110                     1             19
mean       NaN    NaN                   NaN            NaN
std        NaN    NaN                   NaN            NaN
min        NaN    NaN                   NaN            NaN
25%        NaN    NaN                   NaN            NaN
50%        NaN    NaN                   NaN            NaN
75%        NaN    NaN                   NaN            NaN
max        NaN    NaN                   NaN            NaN

                      cast        country       date_added  release_year  \
count                 7956           7952             8770   8780.000000
unique                7671            745             1765           NaN
top     David Attenborough  United States  January 1, 2020           NaN
freq                    19           2809              108           NaN
mean                   NaN            NaN              NaN   2014.178474
std                    NaN            NaN              NaN      8.827938
min                    NaN            NaN              NaN   1925.000000
25%                    NaN            NaN              NaN   2013.000000
50%                    NaN            NaN              NaN   2017.000000
75%                    NaN            NaN              NaN   2019.000000
max                    NaN            NaN              NaN   2021.000000

       rating  duration                     listed_in
count    8776      8780                          8780
unique     14       220                           514
top     TV-MA  1 Season  Dramas, International Movies
freq     3198      1788                           361
mean      NaN       NaN                           NaN
std       NaN       NaN                           NaN
min       NaN       NaN                           NaN
25%       NaN       NaN                           NaN
50%       NaN       NaN                           NaN
75%       NaN       NaN                           NaN
max       NaN       NaN                           NaN

In [89]:
# e)	Check the number of unique values for each column.
uni_val = df.nunique()
print("Number of unique values for each column:")
print(uni_val)

Number of unique values for each column:
show_id         8780
type               2
title           8780
director        4516
cast            7671
country          745
date_added      1765
release_year      74
rating            14
duration         220
listed_in        514
dtype: int64

In [90]:
#f)	Check the percentage of missing values for each column.
print("Percentage of missing values for each column:")
miss_vals = df.isnull().mean() * 100
print(miss_vals)

Percentage of missing values for each column:
show_id          0.000000
type             0.000000
title            0.000000
director        29.954442
cast             9.384966
country          9.430524
date_added       0.113895
release_year     0.000000
rating           0.045558
duration         0.000000
listed_in        0.000000
dtype: float64

In [91]:
# g) Delete all the rows where Director column has missing values.
if 'director' in df.columns:
    df.dropna(subset=['director'], how='all')    
else:
    print("Director column not exist.")

print(df)

     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8775   s8803    Movie                 Zodiac    David Fincher
8776   s8804  TV Show            Zombie Dumb              NaN
8777   s8805    Movie             Zombieland  Ruben Fleischer
8778   s8806    Movie                   Zoom     Peter Hewitt
8779   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8775  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8776                                                NaN            NaN
8777  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8778  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8779  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

              date_added  release_year rating   duration  \
0     September 25, 2021          2020  PG-13     90 min
1     September 24, 2021          2021  TV-MA  2 Seasons
2     September 24, 2021          2021  TV-MA   1 Season
3     September 24, 2021          2021  TV-MA   1 Season
4     September 24, 2021          2021  TV-MA  2 Seasons
...                  ...           ...    ...        ...
8775   November 20, 2019          2007      R    158 min
8776        July 1, 2019          2018  TV-Y7  2 Seasons
8777    November 1, 2019          2009      R     88 min
8778    January 11, 2020          2006     PG     88 min
8779       March 2, 2019          2015  TV-14    111 min

                                              listed_in
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8775                     Cult Movies, Dramas, Thrillers
8776             Kids' TV, Korean TV Shows, TV Comedies
8777                            Comedies, Horror Movies
8778                 Children & Family Movies, Comedies
8779     Dramas, International Movies, Music & Musicals

[8780 rows x 11 columns]

In [ ]:
#h)	Print all the records where country has Germany value (including West Germany). 
# If any other country is there along with Germany, 
# then that row should also come in output.

In [101]:
df.columns
if 'country' in df.columns:
    # Filter rows:  'country' includes 'Germany' or 'West Germany'
    gemany_df = df[df['country'].str.contains('Germany', case=False, na=False)]
    print("Country column includes Germany")
    print(gemany_df)
else:
    print("The column 'country' does not exist in the DataFrame.")

Country column includes Germany
     show_id   type                                title  \
7         s8  Movie                              Sankofa
12       s13  Movie                         Je Suis Karl
129     s130  Movie                   An Unfinished Life
142     s143  Movie                      Freedom Writers
172     s173  Movie                       School of Rock
...      ...    ...                                  ...
8590   s8618  Movie                                Trash
8634   s8662  Movie                      Unfinished Song
8641   s8669  Movie                       V for Vendetta
8702   s8730  Movie                   Where the Money Is
8718   s8746  Movie  Willy Wonka & the Chocolate Factory

                  director                                               cast  \
7             Haile Gerima  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
12     Christian Schwochow  Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel,...
129       Lasse HallstrÃ¶m  Robert Redford, Jennifer Lopez, Morgan Freeman...
142    Richard LaGravenese  Hilary Swank, Patrick Dempsey, Scott Glenn, Im...
172      Richard Linklater  Jack Black, Joan Cusack, Mike White, Sarah Sil...
...                    ...                                                ...
8590        Stephen Daldry  Wagner Moura, Martin Sheen, Rooney Mara, Selto...
8634  Paul Andrew Williams  Terence Stamp, Gemma Arterton, Christopher Ecc...
8641        James McTeigue  Natalie Portman, Hugo Weaving, Stephen Rea, St...
8702       Marek Kanievska  Paul Newman, Linda Fiorentino, Dermot Mulroney...
8718            Mel Stuart  Gene Wilder, Jack Albertson, Peter Ostrum, Roy...

                                                country date_added  \
7     United States, Ghana, Burkina Faso, United Kin... 2021-09-24
12                              Germany, Czech Republic 2021-09-23
129                              Germany, United States 2021-09-01
142                              Germany, United States 2021-09-01
172                              United States, Germany 2021-09-01
...                                                 ...        ...
8590                    United Kingdom, Brazil, Germany 2019-01-01
8634                            United Kingdom, Germany 2019-07-22
8641             United States, United Kingdom, Germany 2018-10-01
8702     Germany, United States, United Kingdom, Canada 2020-01-15
8718          United States, East Germany, West Germany 2020-01-01

      release_year rating duration  \
7             1993  TV-MA  125 min
12            2021  TV-MA  127 min
129           2005  PG-13  108 min
142           2007  PG-13  124 min
172           2003  PG-13  110 min
...            ...    ...      ...
8590          2014      R  114 min
8634          2012  PG-13   94 min
8641          2005      R  132 min
8702          2000  PG-13   89 min
8718          1971      G  100 min

                                              listed_in  Duration_Value  \
7      Dramas, Independent Movies, International Movies             125
12                         Dramas, International Movies             127
129                                              Dramas             108
142                                              Dramas             124
172                          Comedies, Music & Musicals             110
...                                                 ...             ...
8590              Dramas, Independent Movies, Thrillers             114
8634               Comedies, Dramas, Independent Movies              94
8641       Action & Adventure, Dramas, Sci-Fi & Fantasy             132
8702               Action & Adventure, Comedies, Dramas              89
8718  Children & Family Movies, Classic Movies, Come...             100

     Duration_Unit  Day  Month  Year
7              min   24      9  2021
12             min   23      9  2021
129            min    1      9  2021
142            min    1      9  2021
172            min    1      9  2021
...            ...  ...    ...   ...
8590           min    1      1  2019
8634           min   22      7  2019
8641           min    1     10  2018
8702           min   15      1  2020
8718           min    1      1  2020

[231 rows x 16 columns]

In [98]:
# i) Expand Duration column into 2 separate columns – First column having the numeric value 
#   and other having String. # Eg: 3 seasons should be split in 2 columns 
#  having 3 in 1st column and seasons in 2nd column.

if 'duration' in df.columns:    
    df[['Duration_Value', 'Duration_Unit']] = df['duration'].str.extract(r'(\d+)\s*(.*)')
    df['Duration_Value'] = pd.to_numeric(df['Duration_Value'])
    print(df.head())
else:
    print("The column 'Duration' does not exist.")

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  Duration_Value  \
0                                      Documentaries              90
1    International TV Shows, TV Dramas, TV Mysteries               2
2  Crime TV Shows, International TV Shows, TV Act...               1
3                             Docuseries, Reality TV               1
4  International TV Shows, Romantic TV Shows, TV ...               2

  Duration_Unit
0           min
1       Seasons
2        Season
3        Season
4       Seasons

In [102]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'Duration_Value',
       'Duration_Unit', 'Day', 'Month', 'Year'],
      dtype='object')

In [108]:
#j)	Split Date added into 3 separate columns having  
# date value in 1st column, month value in 2nd column 
# and year value in 3rd.

if 'date_added' in df.columns:
    df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
    df['Day'] = df['date_added'].dt.day.astype(pd.Int64Dtype())
    df['Month'] = df['date_added'].dt.month.astype(pd.Int64Dtype())
    df['Year'] = df['date_added'].dt.year.astype(pd.Int64Dtype())
    print("DataFrame with 'date_added' split into three columns:")
    print(df[['date_added', 'Day', 'Month', 'Year']].head())
else:
    print("The column 'date_added' does not exist in the DataFrame.")

DataFrame with 'date_added' split into three columns:
  date_added  Day  Month  Year
0 2021-09-25   25      9  2021
1 2021-09-24   24      9  2021
2 2021-09-24   24      9  2021
3 2021-09-24   24      9  2021
4 2021-09-24   24      9  2021

In [109]:
# k) Print the number of TV shows/Movies released in each year.

# Year : column added in previously. using split of Date

if set(['Year','type']).issubset(df.columns):
   filtered_df = df[df['type'].isin(['Movie', 'TV Show'])]
   r_counts = filtered_df.groupby(['Year', 'type']).size().unstack(fill_value=0)
print(r_counts)

type  Movie  TV Show
Year
2008      1        1
2009      2        0
2010      1        0
2011     13        0
2012      3        0
2013      6        4
2014     19        4
2015     56       17
2016    250      165
2017    835      324
2018   1234      387
2019   1418      572
2020   1281      593
2021    991      505

In [110]:
# l) Rename the column title with movie_title.
if 'title' in df.columns:
    df = df.rename(columns={'title': 'movie_title'})
print(df.head())

  show_id     type            movie_title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

  date_added  release_year rating   duration  \
0 2021-09-25          2020  PG-13     90 min
1 2021-09-24          2021  TV-MA  2 Seasons
2 2021-09-24          2021  TV-MA   1 Season
3 2021-09-24          2021  TV-MA   1 Season
4 2021-09-24          2021  TV-MA  2 Seasons

                                           listed_in  Duration_Value  \
0                                      Documentaries              90
1    International TV Shows, TV Dramas, TV Mysteries               2
2  Crime TV Shows, International TV Shows, TV Act...               1
3                             Docuseries, Reality TV               1
4  International TV Shows, Romantic TV Shows, TV ...               2

  Duration_Unit  Day  Month  Year
0           min   25      9  2021
1       Seasons   24      9  2021
2        Season   24      9  2021
3        Season   24      9  2021
4       Seasons   24      9  2021

In [111]:
# m)	Split Listed_in column into 3 different columns 
# with col name (Genre1, Genre2, Genre3). Split the column based on comma.
print("Before split listed_by column:")
print(df.columns)
if 'listed_in' in df.columns:
    gen_column = df['listed_in'].str.split(', ', expand=True)
    gen_column.columns = ['Genre1', 'Genre2', 'Genre3']
    df = pd.concat([df, gen_column], axis=1)
print("\n After split listed_by column:")
print(df.columns)

Before split listed_by column:
Index(['show_id', 'type', 'movie_title', 'director', 'cast', 'country',
       'date_added', 'release_year', 'rating', 'duration', 'listed_in',
       'Duration_Value', 'Duration_Unit', 'Day', 'Month', 'Year'],
      dtype='object')

 After split listed_by column:
Index(['show_id', 'type', 'movie_title', 'director', 'cast', 'country',
       'date_added', 'release_year', 'rating', 'duration', 'listed_in',
       'Duration_Value', 'Duration_Unit', 'Day', 'Month', 'Year', 'Genre1',
       'Genre2', 'Genre3'],
      dtype='object')