In [ ]:
#2.	Import both the attached files (student.csv and marks.csv) 
# in Jupyter notebook and perform following operations:

In [10]:
# a) Combine both the dataframes into single dataframe
# which will have all the records from both the tables.

import pandas as pd
# Define the file path
student_file = r'E:\IIT_GUWAHATI\Pandas_Assignment\Student.csv' 
s_df = pd.read_csv(student_file)
marks_file = r'E:\IIT_GUWAHATI\Pandas_Assignment\Marks.csv' 
m_df = pd.read_csv(marks_file)
df = pd.concat([s_df, m_df], ignore_index=True)
print(df.sample(10))

     Student_id   Age  Gender      Grade Employed  Mark     City
53           54  21.0  Female  1st Class       no   NaN      NaN
228         229  20.0    Male  2nd Class       no   NaN      NaN
49           50  20.0  Female  3rd Class      yes   NaN      NaN
69           70  20.0    Male  1st Class       no   NaN      NaN
299          71   NaN     NaN        NaN      NaN  85.0    Kochi
259          30   NaN     NaN        NaN      NaN  81.0  Chennai
7             8  21.0    Male  3rd Class      yes   NaN      NaN
365         137   NaN     NaN        NaN      NaN  59.0  Chennai
266          37   NaN     NaN        NaN      NaN  53.0     Pune
140         141  21.0  Female  1st Class       no   NaN      NaN

In [11]:
# b) Print the maximum and minimum marks Gender wise.
print("Maximum marks by Gender wise")
max_g = df.groupby('Gender')['Mark'].max()
print(max_g)

print("Minimum maks by Gender wise")
min_g = df.groupby('Gender')['Mark'].min()
print(min_g)

Maximum marks by Gender wise
Gender
Female   NaN
Male     NaN
Name: Mark, dtype: float64
Minimum maks by Gender wise
Gender
Female   NaN
Male     NaN
Name: Mark, dtype: float64

In [13]:
# c) Print all the students IDs and their marks 
# who have scored more than the average marks of the class.
avg = df['Mark'].mean()
avg_df = df[df['Mark'] > avg]
print(avg_df[['Student_id', 'Mark']])

     Student_id  Mark
232           1  95.0
234           3  98.0
235           4  75.0
236           5  89.0
241          12  90.0
..          ...   ...
450         222  74.0
451         223  79.0
453         225  72.0
456         228  99.0
459         231  97.0

[137 rows x 2 columns]

In [16]:
# d) Print the dataframe who are Males and are Employed.
r_df = df[(df['Gender'] == 'Male') & (df['Employed'] == 'yes')]
print("\n Data Frame who are Males and are Employed.")
print(r_df.sample(10))

 Data Frame who are Males and are Employed.
     Student_id   Age Gender      Grade Employed  Mark City
161         162  20.0   Male  2nd Class      yes   NaN  NaN
12           13  19.0   Male  1st Class      yes   NaN  NaN
41           42  19.0   Male  1st Class      yes   NaN  NaN
76           77  21.0   Male  2nd Class      yes   NaN  NaN
190         191  20.0   Male  2nd Class      yes   NaN  NaN
192         193  21.0   Male  2nd Class      yes   NaN  NaN
47           48  21.0   Male  2nd Class      yes   NaN  NaN
123         124  21.0   Male  3rd Class      yes   NaN  NaN
181         182  21.0   Male  3rd Class      yes   NaN  NaN
92           93  20.0   Male  2nd Class      yes   NaN  NaN

In [17]:
 # e) Create a new Column â€˜IQ_levelâ€™ which will have 3 values (Intelligent, Mediocre, weak).
 #  If student scored than 80 then Tag him as Intelligent, 
 # if student scored between 50-80, then Mediocre, else weak.

def category_delegate(marks):
    if marks > 80:
        return 'Intelligent'
    elif 50 <= marks <= 80:
        return 'Mediocre'
    else:
        return 'Weak'

df['IQ_level'] = df['Mark'].apply(category_delegate)
print(df.sample(10))

     Student_id   Age Gender      Grade Employed  Mark     City     IQ_level
67           68  21.0   Male  1st Class       no   NaN      NaN         Weak
256          27   NaN    NaN        NaN      NaN  45.0    Kochi         Weak
326          98   NaN    NaN        NaN      NaN  44.0   Mumbai         Weak
450         222   NaN    NaN        NaN      NaN  74.0    Kochi     Mediocre
320          92   NaN    NaN        NaN      NaN  93.0     Pune  Intelligent
390         162   NaN    NaN        NaN      NaN  79.0     Pune     Mediocre
355         127   NaN    NaN        NaN      NaN  56.0     Pune     Mediocre
377         149   NaN    NaN        NaN      NaN  77.0  Gwalior     Mediocre
354         126   NaN    NaN        NaN      NaN  88.0   Mumbai  Intelligent
222         223  19.0   Male  2nd Class       no   NaN      NaN         Weak

In [20]:
# f) Count the number of males and females from each city.

gender_counts = df.groupby(['City', 'Gender']).size().unstack(fill_value=0)
print("\nNumber of males and females from each city:")
print(gender_counts)

Series([], dtype: int64)

Number of males and females from each city:
Empty DataFrame
Columns: []
Index: []

In [25]:
print(df[df['Gender'] == 'Male'])

     Student_id   Age Gender      Grade Employed  Mark City IQ_level
0             1  19.0   Male  1st Class      yes   NaN  NaN     Weak
2             3  18.0   Male  1st Class       no   NaN  NaN     Weak
4             5  19.0   Male  1st Class       no   NaN  NaN     Weak
5             6  20.0   Male  2nd Class      yes   NaN  NaN     Weak
7             8  21.0   Male  3rd Class      yes   NaN  NaN     Weak
..          ...   ...    ...        ...      ...   ...  ...      ...
224         225  19.0   Male  2nd Class       no   NaN  NaN     Weak
226         227  22.0   Male  3rd Class       no   NaN  NaN     Weak
228         229  20.0   Male  2nd Class       no   NaN  NaN     Weak
229         230  20.0   Male  3rd Class      yes   NaN  NaN     Weak
231         232  20.0   Male  3rd Class      yes   NaN  NaN     Weak

[136 rows x 8 columns]

In [27]:
#g)	Print the top 5 Male scorers.
top_male_scorers = df[df['Gender'] == 'Male'].sort_values(by='Mark', ascending=False).head(5)
print("\nTop 5 Male scorers")
print(top_male_scorers)

Top 5 Male scorers
   Student_id   Age Gender      Grade Employed  Mark City IQ_level
0           1  19.0   Male  1st Class      yes   NaN  NaN     Weak
2           3  18.0   Male  1st Class       no   NaN  NaN     Weak
4           5  19.0   Male  1st Class       no   NaN  NaN     Weak
5           6  20.0   Male  2nd Class      yes   NaN  NaN     Weak
7           8  21.0   Male  3rd Class      yes   NaN  NaN     Weak

In [33]:
# h)Replace the Male value with M and Female value with F
# and export this dataframe to excel file in D: (D drive) and name the file as test.csv.
output_file_path = r'E:\IIT_GUWAHATI\Pandas_Assignment\test.csv'
df['Gender'] = df['Gender'].replace({'Male': 'M', 'Female': 'F'})
df.to_csv(output_file_path, index=False)
print(df.sample(10))

     Student_id   Age Gender      Grade Employed  Mark    City     IQ_level
5             6  20.0      M  2nd Class      yes   NaN     NaN         Weak
409         181   NaN    NaN        NaN      NaN  56.0  Mumbai     Mediocre
424         196   NaN    NaN        NaN      NaN  74.0  Mumbai     Mediocre
390         162   NaN    NaN        NaN      NaN  79.0    Pune     Mediocre
401         173   NaN    NaN        NaN      NaN  98.0   Delhi  Intelligent
104         105  18.0      F  3rd Class       no   NaN     NaN         Weak
165         166  20.0      F  3rd Class      yes   NaN     NaN         Weak
250          21   NaN    NaN        NaN      NaN  49.0  Mumbai         Weak
16           17  20.0      M  2nd Class      yes   NaN     NaN         Weak
334         106   NaN    NaN        NaN      NaN  77.0   Kochi     Mediocre

In [36]:
# i) Check if any student_ID is duplicated.
stu_dup = df['Student_id'].duplicated().any()
print(f"\n Duplicate student id: {stu_dup}")

 Duplicate student id: True

In [38]:
# j) Create a separate dataframe which will have all the Integer/Float variables.
numeric_df = df.select_dtypes(include=['int', 'float'])
print("\nDataFrame with Integer and Float variables only:")
print(numeric_df.sample(10))

DataFrame with Integer and Float variables only:
     Student_id   Age  Mark
442         214   NaN  54.0
433         205   NaN  78.0
355         127   NaN  56.0
379         151   NaN  78.0
219         220  20.0   NaN
168         169  22.0   NaN
57           58  20.0   NaN
208         209  20.0   NaN
88           89  20.0   NaN
301          73   NaN  89.0

In [40]:
# k)Get those Student_IDs which are present in Students table but not in Marks table.

# Using left join on student_id
left_merged_df = pd.merge(s_df, m_df, on='Student_id', how='left', indicator=True)
print(left_merged_df.sample(10))

     Student_id  Age  Gender      Grade Employed  Mark     City _merge
129         130   20  Female  3rd Class       no  57.0   Bhopal   both
63           64   20    Male  2nd Class      yes  78.0    Delhi   both
5             6   20    Male  2nd Class      yes  69.0  Gwalior   both
134         135   21    Male  2nd Class      yes  75.0    Kochi   both
80           81   21  Female  2nd Class      yes  74.0     Pune   both
68           69   20  Female  3rd Class      yes  55.0   Mumbai   both
145         146   19    Male  1st Class      yes  98.0   Mumbai   both
25           26   20    Male  2nd Class       no  75.0     Pune   both
46           47   18  Female  3rd Class       no  46.0   Mumbai   both
73           74   19  Female  2nd Class       no  77.0  Chennai   both

In [41]:
pwd

'E:\\IIT_GUWAHATI'